/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
body {
    font-family: Monaco, Sans-Serif;
}

.product {
    padding: 10px;
}

.title {
    font-size: 36px;
    font-family: 'Arial', sans-serif; /* Du kannst auch Google Fonts integrieren */
    font-weight: bold;
    color: #333; /* Dunkles Grau für eine elegante Farbe */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Leichter Schlagschatten für Text */
}


.color-selection {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.color-selection label {
    display: inline-block;
    cursor: pointer;
}

.color-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.color-selection input[type="radio"] {
    display: none;
}

.color-selection input[type="radio"]:checked + .color-dot {
    border: 2px solid #000;
}

.white-text {
    color: white;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.product-item {
    width: 200px;
    height: 200px;
    padding: 15px;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.product-actions .edit-icon, .product-actions .delete-icon {
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.product-actions .edit-icon:hover, .product-actions .delete-icon:hover {
    color: #ffcc00;
}


.new-product-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.new-product-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

}


.log-out-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
}
.log-out-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-content {
    text-align: center;
}

.auth-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.auth-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.auth-box {
    margin-top: 2rem;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4a5568;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    font-size: 1rem;
}

.auth-submit {
    width: 100%;
    padding: 12px;
    background-color: #4299e1;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-submit:hover {
    background-color: #3182ce;
}

.log-in-up-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
}
.log-in-up-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

}

.sign-up-position {
    position: absolute;
    top: 10px;
    right: 20px;
}

.log-in-position {
    position: absolute;
    top: 10px;
    right: 125px;
}

/* In application.css oder einer anderen CSS-Datei */
.product-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-box p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.actions {
    margin-top: 10px;
}

.actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}



.new-group-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 32px;
    font-weight: bold;
}
.new-group-button {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

}

/* Grid-Container für die Boxen */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

/* Stil für die Gruppen-Boxen */
.group-box {
    width: 250px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.group-box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.group-content h3 {
    margin-top: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.group-content p {
    margin: 5px 0;
    color: #555;
}

/* Buttons, wenn sie benötigt werden */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}



.edit-profile-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    right: 130px;
    font-size: 16px;
    font-weight: bold;
}
.edit-profile-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

}

/* Edit-Profile Styling */
.edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.edit-profile-form {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-form .form-group {
    margin-bottom: 15px;
}

.edit-profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-profile-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.edit-profile-form .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile-form .btn-submit:hover {
    background-color: #0056b3;
}







.activity-log-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
}
.activity-log-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);

}


