<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Back to products", group_products_path(@group) %>


  <%= button_to "Destroy this product", group_product_path(@group, @product), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
